<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612436577188-1di3tk4pircr9rtresagtvi0vo6snjt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612436577188-1di3tk4pircr9rtresagtvi0vo6snjt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>612436577188-7fjj1f6d9pj0qdqufkb4lubfjc2t955d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXD0shUhgRj13MJBs6XS9bQbl6Z0lQOxk</string>
	<key>GCM_SENDER_ID</key>
	<string>612436577188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isofh.superapp</string>
	<key>PROJECT_ID</key>
	<string>cong-dong-y-te</string>
	<key>STORAGE_BUCKET</key>
	<string>cong-dong-y-te.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612436577188:ios:51203c4d725a1aac6a0f31</string>
	<key>DATABASE_URL</key>
	<string>https://cong-dong-y-te.firebaseio.com</string>
</dict>
</plist>